apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-all
spec:
  podSelector:
    matchLabels:
      name: {{ include "clamav.fullname" . }}
  ingress:
  - ports:
    - protocol: TCP
      port: 10443
  - from: {{ toYaml .Values.service.ingress | nindent 4 }}
