apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "clamav.fullname" . }}-config
data:
  clamd.conf: |
    LogTime yes
    LogClean yes
    LogSyslog no
    LogVerbose yes
    LogFile /dev/stdout
    DatabaseDirectory /var/lib/clamav
    TCPSocket 3310
    Foreground yes
    MaxScanSize {{.Values.clamav.limits.scanSize}}M
    MaxFileSize {{.Values.clamav.limits.fileSize}}M

    #  Close the connection when the data size limit is exceeded.
    #  The value should match your MTA's limit for a maximum attachment size.
    #  Default: 25M
    StreamMaxLength {{.Values.clamav.limits.scanSize}}M

    # Maximum length the queue of pending connections may grow to.
    # Default: 200
    #MaxConnectionQueueLength 30

    # Maximum number of threads running at the same time.
    # Default: 10
    #MaxThreads 20

    # This option specifies how long to wait (in milliseconds) if the send buffer
    # is full.
    # Keep this value low to prevent clamd hanging.
    #
    # Default: 500
    #SendBufTimeout 200

  freshclam.conf: |
    LogTime yes
    LogVerbose yes
    LogSyslog no
    DatabaseOwner clam
    DatabaseMirror http://{{ include "clamav.fullname" . }}-mirror
    Foreground yes
    # This option allows you to easily point freshclam to private mirrors.
    # If PrivateMirror is set, freshclam does not attempt to use DNS
    # to determine whether its databases are out-of-date, instead it will
    # use the If-Modified-Since request or directly check the headers of the
    # remote database files. For each database, freshclam first attempts
    # to download the CLD file. If that fails, it tries to download the
    # CVD file. This option overrides DatabaseMirror, DNSDatabaseInfo
    # and ScriptedUpdates. It can be used multiple times to provide
    # fall-back mirrors.
    # Default: disabled
    #PrivateMirror mirror1.example.com
    #PrivateMirror mirror2.example.com
